@import "vars";

@mixin btn($width, $height) {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(92.47deg, #2B9144 8.22%, #22A442 99.22%);
  box-shadow: 0 8px 19px rgba(23, 85, 41, 0.21);
  border-radius: 30px;
  text-decoration: none;
  color: white;

  &:hover {
    cursor: pointer;
  }
}